commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

resources:
  - github.com/redhat-cop/gitops-catalog/advanced-cluster-security-operator/aggregate/default
  - admission-control-tls-push-secret.yaml
  - collector-tls-push-secret.yaml
  - sensor-tls-push-secret.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/channel
        value: 'rhacs-4.7'
    target:
      kind: Subscription
      name: rhacs-operator
  - patch: |-
      - op: replace
        path: /spec/perNode/collector/collection
        value: EBPF
    target:
      kind: SecuredCluster
  - patch: |-
      - op: add
        path: /spec/central/declarativeConfiguration
        value:
          secrets:
            - name: declarative-configurations
    target:
      kind: Central
