div.columns.small-9.top-bar__left-side {
    background: #fefefe;
}
div.columns.top-bar__left-side,
div.top-bar__title.text-truncate.top-bar__right-side {
    background: #EE0000;
    color: #fff;
}
.top-bar__breadcrumbs {
    color: #fff !important;
}
.top-bar__title {
    color: #fff !important;
}
