apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: config-authentication
  annotations:
    argocd.argoproj.io/sync-wave: "11"
  labels:
    gitops.ownedBy: cluster-config
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: cluster-config
  source:
    path: manifests/configs/oauth/overlays/default
    repoURL: https://github.com/gnunn-gitops/cluster-config.git
    targetRevision: unify
  syncPolicy:
    automated:
      prune: false
      selfHeal: false