apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    alertmanagerMain:
      enableUserAlertmanagerConfig: true
    enableUserWorkload: true
    nodeExporter:
      collectors:
        buddyinfo: {}
        cpufreq: {}
        ksmd: {}
        mountstats: {}
        netclass: {}
        netdev: {}
        processes: {}
        systemd: {}
        tcpstat: {}
    prometheusK8s:
      additionalAlertmanagerConfigs:
      - apiVersion: v2
        bearerToken:
          key: token
          name: observability-alertmanager-accessor-hub
        scheme: https
        staticConfigs:
        - alertmanager-open-cluster-management-observability.apps.hub.ocplab.com
        tlsConfig:
          ca:
            key: service-ca.crt
            name: hub-alertmanager-router-ca-hub
          insecureSkipVerify: false
      resources:
        requests:
          memory: 8Gi
      externalLabels:
        cluster_name: ${CLUSTER_GITOPS_NAME}
        managed_cluster: ${CLUSTER_ID}
      volumeClaimTemplate:
        metadata: {}
        spec:
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 40Gi
          volumeMode: Filesystem
        status: {}
