# Assumes the cluster admin had pre-created the sealed-secrets project and secret.
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-compliance

resources:
- github.com/redhat-cop/gitops-catalog/compliance-operator/operator/overlays/release-0.1
- github.com/redhat-cop/gitops-catalog/compliance-operator/instance/overlays/ocp-cis