apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: alertmanager-main
  namespace: openshift-monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-cluster
  target:
    name: alertmanager-main
  data:
    - secretKey: alertmanager.yaml
      remoteRef:
        key: ALERTMANAGER
    - secretKey: slacktemplate.tmpl
      remoteRef:
        key: ALERTMANAGER_SLACK_TEMPLATE
